<h2 id="header"><%= @list.name %></h2>

<div class="card-container">

  <div class="card-content">
  <% @list.movies.each do |movie| %>
  <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <%= movie.title %>
    <%= movie.overview %>
    <img src="<%= movie.poster_url %>" alt="">

    <div class="bookmarks">
    <%= bookmark.comment %>
    </div>

  <% end %>

  </div>


</div>

<%# <ul class="row my-2"> %>
  <%# <% @list.bookmarks.each do |bookmark| %>
    <%# <li><%= bookmark.comment %>
    <%# <li><%= bookmark.list_id %>
    <%# <li><%= bookmark.movie_id %>
  <%# <% end %>
<%# </ul> %>
